<div class="card col-6">
  <h1><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h1>
    <div>
      <p><i>Category: <%= restaurant.category %></i></p>
    </div>
    <div>
      <p><strong>Address:</strong> <%= restaurant.address %></p>
      <p><strong>Phone Number:</strong> <%= restaurant.phone_number %></p>
    </div>
</div>
