<div class="container">
  <%= link_to "Create new restaurant listing", new_restaurant_path, class: "btn btn-primary" %>
  <h1>Find your favourite restaurant!</h1>
  <div class="row">
    <%= render @restaurants %>
  </div>
</div>
