<div class="container">
  <%= render @restaurant %>
</div>
<div class="container">
  <%= link_to "Return to view all restaurants", restaurants_path, class: "btn btn-primary" %>
</div>
<%= render @restaurant.reviews %>
<%= render "restaurants/new_review", restaurant: @restaurant, review: @review %>
