<div class="container">
  <li class="list-group-item">
    <p><strong>Rating: <%= review.rating %></strong></p>
    <p><strong><u>Comment:</u></strong></p>
    <p><%= review.content %></p>
  </li>
</div>
